*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

/*** header ***/

header{
    background: #BFFA76;
}

#logo {
    background: url(img/logonovak.png) no-repeat, #2B9322;
    height: 64px;
    border-radius: 0 0 10px 10px;
}

#logo h1 {
    color: #BFFA76;
    font-family: Verdana;
    font-weight: normal;
    margin-left: 70px;
}

nav{
    height: 150px;
    
}

nav>ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

nav ul li a{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    text-decoration: none;
    color: black;
    background: #88ca36;
    text-align: center;
    margin: 30px;
    
    
    
}

.zalozka{
    background: #2B9322;
    border-radius: 10px 10px 0 0 ;

}


/*** section ***/


/*** patička ***/
footer{
    padding-top: 5px;
    height: 30px;
    background: #2B9322;
    color: #BFFA76 ;
    text-align: center;
}